<div class="row">
    <div class="col-md-12  TitleSection">
        <h1>About <span>Lenny REED</span></h1>
        <h1><span>AND</span> WHAT <span>MAKES</span> him <span>UNIQUE</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="Team ">
            <div class="round-thumb-container">
                <div class="round-thumb">
                    <span><img src="img/circlegallery/1.jpg"></span>
                </div>

                <div>
                    <a href="https://twitter.com/leonardlreed" rel="tooltip" title="Twitter">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>

                    <a href="http://www.linkedin.com/pub/leonard-reed/b/a85/533" rel="tooltip" title="Linkedin">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>

                    <a href="mailto:lendog75@yahoo.com" rel="tooltip" title="Email">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                    </a>

                    <a href="https://github.com/lendog75/" rel="tooltip" title="Github">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-github-alt fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3>Profile</h3>

        <p>
            Professional, senior full-stack web developer/team lead who just loves to code and
            has a "can do" attitude.
            I characterize myself as a builder, in everything i do I am building something.
            Whether it is building your application or building relationships with colleges and
            users, it is what I do!
        </p>

        <p>
            I am a husband, father, outdoorsmen, and software developer interested in Angular,
            Twitter Bootstrap, RESTFul API's, Cloud Services, WebApi and any other interesting
            technology.
        </p>
        <hr/>

        <h3>Core Stack</h3>

        <p>Angular, Twitter Bootstrap, REST, WebApi, AWS Elastic Compute Cloud (EC2), AWS
            Elastic Beanstalk (EBS), Ninject, MVC, LINQ, Entity Framework, Fiddler,
            Automapper </p>
        <hr/>

        <h3>New Interests:</h3>

        <p>Angular 2, Node, ExpressArduino, Raspberry Pi, .Net vNext, Docker, React</p>
        <hr/>

        <h3>Hobbies:</h3>

        <p>CrossFit, Hiking, Backpacking, Camping, Photography, Mountain Biking, Skiing</p>
        <hr/>
        <h3><a href="docs/LennyReedResume.docx"><i class="fa fa-file-word-o"></i>Download Resume</a></h3>
    </div>
</div>

