<div class="row">
    <div class="col-md-12 TitleSection">
        <h1>CONTACT <span>Me</span></h1>
        <h1><span>LET'S</span> HAVE <span>A</span> DISCUSSION </h1>
    </div>
</div>

<div class="row well">
    <h2>Contact Info</h2>
    <hr/>
    <div>
        <ul class="list-inline none">
            <li>
                <a href="mailto:lendog75@yahoo.com" rel="tooltip" title="Email">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-envelope fa-stack-1x"></i>
                                            </span>
                    lendog75@yahoo.com
                </a>
            </li>
            <li>
                <a href="https://twitter.com/leonardlreed" rel="tooltip" title="Twitter">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-twitter fa-stack-1x"></i>
                                            </span>
                    Twitter
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/pub/leonard-reed/b/a85/533" rel="tooltip"
                   title="Linkedin">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-linkedin fa-stack-1x"></i>
                                            </span>
                    LinkedIn
                </a>
            </li>

            <li>
                <a href="https://github.com/lendog75/" rel="tooltip" title="Github">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-github-alt fa-stack-1x"></i>
                                            </span>
                    GitHub
                </a>
            </li>
            <li>
                <a href="docs/LennyReedResume.docx" rel="tooltip" title="Resume">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-file-word-o fa-stack-1x"></i>
                                            </span>
                    Download Resume
                </a>
            </li>
        </ul>
    </div>
</div>
