<br><br>
<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">
                    Professional, senior full-stack web developer/team lead who just loves to code and has a "can do"
                    attitude. I characterize myself as a builder, in everything i do I am building something. Whether it
                    is building your application or building relationships with colleges and users, it is what I do!
                </p>
            </div>
            <div class="col-md-4">
                TBD

                <!-- End Contact Us -->
            </div>
        </div>
    </div>
</div>
<!--=== End Footer ===-->


<!--=== Contact ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline none">
                    <li><p> Contact: </p></li>
                    <li>
                        <a href="mailto:lendog75@yahoo.com" rel="tooltip" title="Email">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-envelope fa-stack-1x"></i>
                                            </span>
                            lendog75@yahoo.com
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/leonardlreed" rel="tooltip" title="Twitter">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-twitter fa-stack-1x"></i>
                                            </span>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/pub/leonard-reed/b/a85/533" rel="tooltip"
                           title="Linkedin">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-linkedin fa-stack-1x"></i>
                                            </span>
                            LinkedIn
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/lendog75/" rel="tooltip" title="Github">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-github-alt fa-stack-1x"></i>
                                            </span>
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a href="docs/LennyReedResume.docx" rel="tooltip" title="Resume">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                              <i class="fa fa-file-word-o fa-stack-1x"></i>
                                            </span>
                            Download Resume
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/copyright-->


<!-- Contact Us -->
