


<div ng-include="'views/main-slider.html'"></div>
<br><br>
<h2>Testimonials</h2>


<div ng-include="'views/testimonials.html'"></div>





<!-- words of wisdom -->
<div id="third" class="Parallax">
    <div class="ParallaxText">
        <h2>WORDS <span>OF</span> THE <span>WISE</span></h2>

        <div class="clearfix"></div>
        <blockquote>
            Any fool can write code that a computer can understand. Good programmers write code that humans can
            understand.
        </blockquote>
        <div class="clearfix"></div>
        <p>- Martin Fowler -</p>
    </div>
</div>


<div ng-include="'views/feeds.html'"></div>

<!-- words of wisdom -->
<div id="fourth" class="Parallax">
    <div class="ParallaxText">
        <h2>WORDS <span>OF</span> THE <span>WISE</span></h2>

        <div class="clearfix"></div>
        <blockquote>
            Teaching peers is one of the best ways to develop mastery.
        </blockquote>
        <div class="clearfix"></div>
        <p>- Jeff Atwood, Stackoverflow -</p>
    </div>
</div>

<h1>Portfolio Slider Here</h1>

Still need
- make menu responsive
- possible mega menu?
- talk about barmixvah
- skill percentages
- complete Portfolio
- Add a testimonial slider, from Linkedin
- what type of work do I do
- Where do I work




<!--&lt;!&ndash; words of wisdom &ndash;&gt;-->
<!--<div id="fifth" class="Parallax">-->
    <!--<div class="ParallaxText">-->
        <!--<h2>WORDS <span>OF</span> THE <span>WISE</span></h2>-->

        <!--<div class="clearfix"></div>-->
        <!--<blockquote>-->
            <!--The trick isnt adding stuff, it is taking it away.-->
        <!--</blockquote>-->
        <!--<div class="clearfix"></div>-->
        <!--<p>- Mark Zuckerberg, Facebook -</p>-->
    <!--</div>-->
<!--</div>-->

