<div class="row">
    <div class="col-md-12  TitleSection">
        <h1>Tech <span>Skills</span>, Education</h1>

        <h1>and <span>Training</span></h1>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div id="tags">
            <h3>Skills and Technologies</h3>
            <em>click technologies below to highlight</em>
            <ul>
                <li class="tag3"><a onclick="Highlight(new Array('LINQ'))">LINQ</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('Lambda Expression','Lambda', 'Lambdas'))">Lambdas </a>
                </li>
                <li class="tag4"><a onclick="Highlight(new Array('ASP.Net WebApi', 'WebApi', 'WebApi 2'))">WebApi 2</a>
                </li>
                <li class="tag3"><a onclick="Highlight(new Array('Generics'))">Generics</a></li>
                <li class="tag5"><a onclick="Highlight(new Array('AngularJs'))">AngularJs</a></li>
                <li class="tag5"><a onclick="Highlight(new Array('REST'))">RESTFul Services</a></li>
                <li class="tag5"><a onclick="Highlight(new Array('Api'))">Api</a></li>
                <li class="tag4"><a onclick="Highlight(new Array('Visual Studio'))">Visual Studio 2013</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('Team Foundation Server', 'TFS'))">Team Foundation
                    Server
                    (TFS)</a></li>
                <li class="tag3"><a
                        onclick="Highlight(new Array('Amazon ElasticBeanstalk', 'ElasticBeanstalk', 'EBS'))">Amazon
                    ElasticBeanstalk (EBS)</a></li>
                <li class="tag5"><a onclick="Highlight(new Array('.Net/C# 3.5/4.0/4.5', '.net', 'C#'))">.Net/C#
                    3.5/4.0/4.5</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('Entity Framework', 'EF4', '(EF)'))">Entity
                    Framework</a>
                </li>
                <li class="tag1"><a onclick="Highlight(new Array('ORMlite', 'Service Stack'))">ORMLite</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('Ninject'))">Ninject</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('LESS'))">LESS</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('ElasticSearch'))">ElasticSearch</a></li>
                <li class="tag2"><a onclick="Highlight(new Array('MVC'))">MVC</a></li>
                <li class="tag2"><a onclick="Highlight(new Array('Scrum'))">Scrum</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('Amazon Simple Queue Service', 'SQS'))">Amazon Simple
                    Queue
                    Service (SQS)</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('NServiceBus'))">NServiceBus</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('Fiddler'))">Fiddler</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('HTML5'))">HTML3</a></li>
                <li class="tag2"><a onclick="Highlight(new Array('Jira'))">Jira</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('CSS3'))">CSS3</a></li>
                <li class="tag3"><a onclick="Highlight(new Array('JQuery'))">JQuery</a></li>
                <li class="tag3"><a
                        onclick="Highlight(new Array('Domain Driven Design (DDD)','Domain Driven Design', 'DDDS'))">Domain
                    Driven Design (DDD)</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('JQuery UI'))">JQuery UI</a></li>
                <li class="tag2"><a onclick="Highlight(new Array('SAAS'))">SAAS</a></li>
                <li class="tag5"><a onclick="Highlight(new Array('Twitter Bootstrap', 'Bootstrap'))">Twitter
                    Bootstrap</a>
                </li>
                <li class="tag2"><a
                        onclick="Highlight(new Array('Design Patterns', 'Sub/Pub', 'singleton', 'repository','facade','lazy loading'))">Design
                    Patterns</a></li>
                <li class="tag2"><a onclick="Highlight(new Array('Responsive Design'))">Responsive Design</a></li>
                <li class="tag3"><a
                        onclick="Highlight(new Array('Amazon Elastic Compute Cloud', 'AWS Elastic Compute Cloud', 'EC2'))">Amazon
                    Elastic Compute Cloud EC2</a></li>
                <li class="tag1"><a onclick="Highlight(new Array('project manager', '(PM)', 'Project Management'))">Project
                    Management</a></li>
                <li class="tag2"><a onclick="Highlight(new Array('Agile'))">Agile</a></li>

            </ul>
            <hr/>
        </div>
    </div>
    <div class="col-md-4">
        <!-- start: Skills -->
        <div class="title"><h3>Our Skillsee</h3></div>
        <ul class="progress-bar">
            <li>
                <h5>Web Design ( 40% )</h5>
                <div class="meter"><span style="width: 40%"></span></div><!-- Edite width here -->
            </li>
            <li>
                <h5>Wordpress ( 80% )</h5>
                <div class="meter"><span style="width: 80%"></span></div><!-- Edite width here -->
            </li>
            <li>
                <h5>Branding ( 100% )</h5>
                <div class="meter"><span style="width: 100%"></span></div><!-- Edite width here -->
            </li>
            <li>
                <h5>SEO Optmization ( 60% )</h5>
                <div class="meter"><span style="width: 60%"></span></div><!-- Edite width here -->
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 career-highlights">
        <h3>Education|Training|Other:</h3>
        <ul class="arrow">
            <li>
                <strong>Bachelor's of Science</strong>, Management Information Systems - Central Florida
                (UCF)
            </li>
            <li><strong>Security Clearance: DoD Secret (NACLC)</strong>- September 2009</li>
            <li>
                Completed <strong>"Domain Driven Design"</strong> Training Course and implemented concepts
                based on the book "Domain Driven Design: Tackling Complexity in the Heart of
                Software" by: Eric Evans
            </li>
            <li>Completed <strong>ElasticSearch</strong> training</li>
            <li> Member of Denver <strong>HTML5 Meetup</strong></li>
            <li> Member of Denver <strong>Angular Meetup</strong></li>
            <li> Member of Denver <strong>.Net Meetup</strong></li>

        </ul>
        <hr/>
    </div>
</div>

