<!--Testimonials and Info-->
<div class="row">
    <div class="col-md-12">
        <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
            <div class="carousel-inner">
                <div class="item active">
                    <p>
                        Lenny is pleasure to have as a team member. He has made an impact at ToolWatch from his very first day. He is passionate about following best practices and also knows when to just get things done. His direct approach when we work through challenging problems is refreshing. He can be relied on to defend his suggestions and also to support the team when it decides on another direction.
                        <br>
                        I anticipate working with him for years to come.
                    </p>
                    <i>January 22, 2014 - Jason managed Lenny at ToolWatch</i>

                    <div class="testimonial-info">
                        <img class="rounded-x" src="img/testimonials/j.watts.jpg" alt="">
                        <span class="testimonial-author">
                            Jason Watts
                            <em>Director of Application Development, ToolWatch</em>
                        </span>
                    </div>
                </div>
                <div class="item">
                    <p>
                        It was my pleasure to work with Lenny at a leading research institution for over two years and we have remained in touch in the time since. At JHU we had desks next to one another. He was a reliable source of advice on several projects. I was always impressed by his diligence, candor, and grasp of technology.
                        <br>
                        Lenny's methodology for software development is solid. He understood the subtler points of at least one programming language back then and I expect he has built substantially upon that foundation. As long as I have known him there has scarcely been a day when Lenny was not working to expand his knowledge to new languages and new applications.
                        <br>
                        <!--Our work at the university required interaction with peers of diverse personal and occupational backgrounds. Lenny is adept at building productive professional relationships. He works to understand and maximize human relationships with an enthusiasm similar to his efforts to master new technologies.-->
                        <!--<br>-->
                        I wholeheartedly recommend Lenny as both a technician and a leader. I remain proud to count him as a friend and colleague.
                    </p>
                    <i>January 27, 2009 - Trevor worked directly with Lenny at Johns Hopkins University</i>

                    <div class="testimonial-info">
                        <img class="rounded-x" src="img/testimonials/t.reid.jpg" alt="">
                        <span class="testimonial-author">
                            Trevor Reid
                            <em>Software Developer, Johns Hopkins University</em>
                        </span>
                    </div>
                </div>
                <!--<div class="item">-->
                    <!--<p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis-->
                        <!--praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est-->
                        <!--anditiis praesentium praesentium..</p>-->

                    <!--<div class="testimonial-info">-->
                        <!--<img class="rounded-x" src="img/testimonials/img2.jpg" alt="">-->
                                <!--<span class="testimonial-author">-->
                                    <!--Kate Davenport-->
                                    <!--<em>Web Designer, Google Inc.</em>-->
                                <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="carousel-arrow">
                <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a data-slide="next" href="#testimonials-1" class="right carousel-control">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>